In [1]:
import sqlite3 as sql

### Creating a table

In [2]:
connect = sql.connect('test.db')

In [3]:
# connect.close()

In [4]:
# To create a table we use the execute method followed by the command create table table-name inside three quotation
connect.execute(''' CREATE TABLE MOVIERECOMMENDATION
               (ID INT PRIMARY KEY NOT NULL,
                NAME TEXT NOT NULL,
                MOVIENAME TEXT NOT NULL,
                GENRE TEXT NOT NULL,
                RATING INT NOT NULL,
                DATERELEASED TEXT NOT NULL
               )''')

print("Table successfully created")

OperationalError: table MOVIERECOMMENDATION already exists