## Advanced data science database class at Future Academy Africa (FAA) part 2.

In [1]:
%matplotlib inline

In [2]:
import sqlite3 as sql

In [3]:
connect = sql.connect('test.db')
print('database connected successfully 👍')

database connected successfully 👍

### iNSERT OPERATION

In [4]:
#Insert into table, followed by the table column names, values keyword to start adding the value
connect.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
                VALUES(1, 'Toliat Yahaya', 'Anikulapo', 'Drama',3, '02/09/2022')");
connect.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
                VALUES(2, 'Moyato', 'Gun girl', 'Thriller',4, '02/09/2021')");
connect.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
                VALUES(3, 'Oyedola Elijah', 'Thor', 'Action',4, '02/06/2022')");
connect.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
                VALUES(4, 'Paul Adelola', 'The lost city', 'Comedy',5, '01/08/2020')");
connect.commit()
print('Values inserted into the movie recommendation table')
# connect.close()

Values inserted into the movie recommendation table

### SELECT OPERATION

In [34]:
# SELECT COLOUMN_NAME FROM TABLE_NAME
GETALLVALUES = connect.execute("SELECT * FROM MOVIERECOMMENDATION")

In [35]:
GETALLVALUES.fetchall()

[(1, 'Toliat Yahaya', 'Anikulapo', 'Drama', 3, '02/09/2022'),
 (2, 'Moyato', 'Gun girl', 'Thriller', 4, '02/09/2021'),
 (3, 'Oyedola Elijah', 'Thor', 'Action', 4, '02/06/2022'),
 (4, 'Paul Adelola', 'The lost city', 'Comedy', 5, '01/08/2020')]

In [7]:
# for val in GETALLVALUES.fetchall():
#     print(val)

In [28]:
# SELECT COLOUMN_NAME FROM TABLE_NAME
GETRATINGSGREATERTHANTHREE = connect.execute("SELECT MOVIENAME, GENRE, DATERELEASED FROM MOVIERECOMMENDATION WHERE RATING > 3")

In [29]:
GETRATINGSGREATERTHANTHREE.fetchall()

[('Gun girl', 'Thriller', '02/09/2021'),
 ('Thor', 'Action', '02/06/2022'),
 ('The lost city', 'Comedy', '01/08/2020')]

In [36]:
# SELECT COLOUMN_NAME FROM TABLE_NAME
GETPAUL = connect.execute("SELECT * FROM MOVIERECOMMENDATION WHERE NAME ='Paul Adelola' ")

In [37]:
GETPAUL.fetchall()

[(4, 'Paul Adelola', 'The lost city', 'Comedy', 5, '01/08/2020')]

### Update Operation

In [41]:
# UPDATE TABLE SET COLOUMN_NAME = VALUE
UPDATEANIKULAPORATING = connect.execute("UPDATE MOVIERECOMMENDATION SET RATING = 4 WHERE  ID = 1")

In [42]:
UPDATEANIKULAPORATING.fetchall()

[]

In [43]:
# SELECT COLOUMN_NAME FROM TABLE_NAME
GETALLVALUES = connect.execute("SELECT * FROM MOVIERECOMMENDATION")

In [44]:
GETALLVALUES.fetchall()

[(1, 'Toliat Yahaya', 'Anikulapo', 'Drama', 4, '02/09/2022'),
 (2, 'Moyato', 'Gun girl', 'Thriller', 4, '02/09/2021'),
 (3, 'Oyedola Elijah', 'Thor', 'Action', 4, '02/06/2022'),
 (4, 'Paul Adelola', 'The lost city', 'Comedy', 5, '01/08/2020')]

### DELETE OPERATION

In [45]:
# DELETE FROM TABLE_NAME WHERE COLUMN_NAME MATCHES OPERATION
INSERTANEWROW= connect.execute("SELECT * FROM MOVIERECOMMENDATION")
connect.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
                VALUES(7, 'Anonymous', 'Shaolin Soccer', 'Sport',3, '02/09/2012')");

In [46]:
connect.execute("SELECT * FROM MOVIERECOMMENDATION").fetchall()

[(1, 'Toliat Yahaya', 'Anikulapo', 'Drama', 4, '02/09/2022'),
 (2, 'Moyato', 'Gun girl', 'Thriller', 4, '02/09/2021'),
 (3, 'Oyedola Elijah', 'Thor', 'Action', 4, '02/06/2022'),
 (4, 'Paul Adelola', 'The lost city', 'Comedy', 5, '01/08/2020'),
 (7, 'Anonymous', 'Shaolin Soccer', 'Sport', 3, '02/09/2012')]

In [48]:
DELETEANONYMOUS = connect.execute("DELETE FROM MOVIERECOMMENDATION WHERE ID=7  ").fetchall()
print("Row with id=7 has been deleted")

Row with id=7 has been deleted

In [50]:
connect.execute("SELECT * FROM MOVIERECOMMENDATION").fetchall()

[(1, 'Toliat Yahaya', 'Anikulapo', 'Drama', 4, '02/09/2022'),
 (2, 'Moyato', 'Gun girl', 'Thriller', 4, '02/09/2021'),
 (3, 'Oyedola Elijah', 'Thor', 'Action', 4, '02/06/2022'),
 (4, 'Paul Adelola', 'The lost city', 'Comedy', 5, '01/08/2020')]